/****************************************/
/********** XHTMLOA style V1.0 **********/
/****************************************/

@import url(login.css);

/********** common style **********/
html{height:100%;}
body{margin:0px; font-size:9pt; height:100%;SCROLLBAR-BASE-COLOR: #E5EFFF;}
table{font-size:9pt;
	height: 16px;
}
th{font-weight:normal;text-align:left;}
ul{ padding:0px; margin:0px;}
li{ padding:0px; margin:0px; list-style-type:none;}
input{font-size:9pt;}
select{font-size:9pt;}
.txt_calendar{behavior:url(../../scripts/calendar.htc);font-size:9pt;}
.txt_calendarhms{behavior:url(../../scripts/calendarhms.htc);font-size:9pt;}
#master{height:100%}

#header{background-image:url(master_header.png);height:78px;width:100%; padding:1px;}
#header h1{display:none;}
#header .userinfo{width:180px;background:url(master_userinfo.gif) no-repeat;margin-top:52px;margin-left:10px;font-weight:bold;padding-left:24px;padding-top:5px;padding-bottom:4px}
#header .userinfo a:link,.userinfo li a:visited{color:#333;text-decoration:none;}

#header .button{ position:absolute;top:20px;right:20px;}
#header .button li{float:left;padding-left:10px;cursor:pointer}

#header .navigation{ position:absolute;top:55px;left:200px;}
#header .navigation li{height:24px;float:left;text-align:center;margin-right:2px;font-weight:bold;background:url(master_navigationli.gif) no-repeat;padding-left:2px}
#header .navigation li a:link,#header .navigation li a:visited{color:#333; text-decoration:none;background:url(master_navigationli2.gif) no-repeat top right ;padding-right:9px;padding-left:8px;padding-bottom:10px;line-height:24px;padding-top:6px;}
#header .navigation li a:active{color:#fff;text-decoration:none;background-position:right -25px;}
#header .navigation li a:hover{color:#fff;text-decoration:none;background-position:right -50px;}


#header_help{background-image:url(master_Helpheader.png);height:90px;width:100%; padding:1px;}
#header_help h1{display:none;}
#header_help .userinfo{width:180px;background:url(master_userinfo.gif) no-repeat;margin-top:66px;margin-left:10px;font-weight:bold;padding-left:24px;padding-top:5px;padding-bottom:4px}
#header_help .userinfo a:link,.userinfo li a:visited{color:#333;text-decoration:none;}

#header_help .button{ position:absolute;top:20px;right:20px;}
#header_help .button li{float:left;padding-left:10px;cursor:pointer}

#header_help .navigation{ position:absolute;top:65px;left:200px;}
#header_help .navigation li{height:24px;float:left;text-align:center;margin-right:2px;font-weight:bold;background:url(master_navigationli.gif) no-repeat;padding-left:2px}
#header_help .navigation li a:link,#header .navigation li a:visited{color:#333; text-decoration:none;background:url(master_navigationli2.gif) no-repeat top right ;padding-right:9px;padding-left:8px;padding-bottom:10px;line-height:24px;padding-top:6px;}
#header_help .navigation li a:active{color:#fff;text-decoration:none;background-position:right -25px;}
#header_help .navigation li a:hover{color:#fff;text-decoration:none;background-position:right -50px;}


.placard{border:1px solid #D9E9FF; background:url(master_placard.gif) repeat-x;height:18px;padding-top:5px;}
.placard li{float:left;padding-right:10px;}
.placard li a:link,#master_body .placard li a:visited{color:#333; text-decoration:underline}
.placard li a:hover{color:red;text-decoration:none;}

#footer{}

#master #submenucontent{background:url(master_content.gif) repeat-y 1px 0px; padding-left:1px; height:100%;}
.submenu{width:198px;height:100%;background:url(master_submenu.gif) no-repeat bottom;}
.submenu h2{background-image:url(submenu_h2.gif);font-size:9pt;font-weight:bold;width:176px;margin:0px;margin-left:12px;padding-top:5px;padding-bottom:5px;cursor:pointer;}
.submenu h2 img{margin:0px 3px -3px 3px;}
.submenu h3{}
.submenu .navigation{margin-left:15px;width:172px;padding-bottom:10px;}
.submenu .navigation li{}
.submenu .navigation a:link,.submenu .navigation a:visited{}
.submenu .navigation a:hover{}
.submenu .navigation a.current:link,.Navigation a.current:visited{}

#master #mainareacontent{padding:5px 5px 5px 0px;}

.search{border:1px solid #A8CFEB; background-color:#F1F6FF}
.search th{width:90px;text-align:left; white-space:nowrap;}
.search td img{padding-left:3px;}
.search td select{width:129px;font-size:9pt;}
.search .ico{width:20px; vertical-align:top;padding-top:2px;}
.search .ico img{padding:0px;width:16px;}
.search .form .button{width:auto;text-align:right;vertical-align:top;padding-right:14px}
.search img{padding-top:2px;padding-left:5px;margin-bottom:-1px;cursor:pointer;}

.search .form td{padding-right:5px;}

.mainarea fieldset{padding:5px;  border:1px solid #A8CFEB;margin-top:10px;}
.mainarea fieldset legend{font-size:10pt; vertical-align:bottom;color:#1C568A;font-weight:bold;}
.mainarea fieldset legend table{ background-image:url('master_fieldsetlegend.gif');
	width: 100%;
}
.mainarea fieldset legend .title{font-size:10pt; vertical-align:bottom;color:#1C568A;font-weight:bold;}
.mainarea fieldset legend .title span{ background-color:#fff;padding-right:5px;}
.mainarea fieldset legend .button{text-align:right;}
.mainarea fieldset legend .button span{ background-color:#fff;}
.mainarea fieldset legend .button img{padding-left:5px;}


.dg_borderstyle{ width:100%; border-collapse:collapse;margin-top:3px;}
.dg_borderstyle th{height:24px; background-color:#DFEAFB;color:#1C568A; font-weight:bold;padding-left:2px;}
.dg_alternatingitemstyle{height:22px; background-image:url(dg_alternatingitemstyle.gif);padding-left:2px; background-color:White; text-align:left;}
.dg_itemstyle{height:22px; background-image:url(dg_itemstyle.gif);padding-left:2px;text-align:left;}
.dg_pagestyle{}

.dg_pagestyle .pageinfo{color:#1C568A;padding-top:6px;}
.dg_pagestyle .pagebutton{text-align:right;padding-right:15px;color:#1C568A;}
.dg_pagestyle .pagebutton img{padding-top:2px;margin-bottom:-4px;}
.dg_pagestyle .pagebutton input{font-size:8pt;width:50px;}
.dg_pagestyle .pagebutton select{font-size:8pt;}

#master .formitem{border:1px solid #A8CFEB;border-top:none;margin-bottom:10px;}
#master .formitem caption{border-left: 1px solid #A8CFEB;
	border-right: 1px solid #A8CFEB;
	border-top: 1px solid #A8CFEB;
	border-bottom: none;
	background-color:#DFEAFB;	text-align:left; 	font-weight:bold;	color:#1C568A;	height:18px;	padding-left:5px;	padding-top:5px;
	width: 751px;
}
#master .formitem th{ background-color:#F1F6FF;padding-left:5px;
    width: 190px;
}
#master .formitem td{ padding-left:5px;background-color:#FAFCFF;}
#master .formitem_pagestyle{}
#master .formitem_pagestyle .pagebutton{text-align:right;padding-right:15px;}

#master .formnewitem{border:1px solid #A8CFEB;border-top:none;margin-bottom:10px;}
#master .formnewitem caption{border-left: 1px solid #A8CFEB;
	border-right: 1px solid #A8CFEB;
	border-top: 1px solid #A8CFEB;
	border-bottom: none;
	background-color:#DFEAFB;	text-align:left; 	font-weight:bold;	color:#1C568A;	height:18px;	padding-left:5px;	padding-top:5px;
	width: 751px;
}
#master .formnewitem th{ background-color:#F1F6FF;padding-left:5px;width:100px;
   
}
#master .formnewitem td{ padding-left:5px;background-color:#FAFCFF;width:140px;}
#master .formnewitem_pagestyle{}
#master .formnewitem_pagestyle .pagebutton{text-align:right;padding-right:15px;}


#master .formnew2item{border:1px solid #A8CFEB;border-top:none;margin-bottom:10px;display: block;background-color: #7F96BE; border-width: 0px}
#master .formnew2item caption{border-left: 1px solid #A8CFEB;
	border-right: 1px solid #A8CFEB;
	border-top: 1px solid #A8CFEB;
	border-bottom: none;
	background-color:#DFEAFB;	text-align:left; 	font-weight:bold;	color:#1C568A;	height:18px;	padding-left:5px;	padding-top:5px;
	width: 751px;
}
#master .formnew2item th{ background-color:#F1F6FF;padding-left:5px;width:100px;text-align:left ;
   
}
#master .formnew2item td{ padding-left:5px;background-color:#FAFCFF;width:140px;text-align:left ;}
#master .formnew2item_pagestyle{}
#master .formnew2item_pagestyle .pagebutton{text-align:right;padding-right:15px;}



#dialog{padding:20px;}
#dialog #header{display:none;}

#dialog fieldset{padding:5px;  border:1px solid #A8CFEB;margin-top:10px;}
#dialog fieldset legend{font-size:10pt; vertical-align:bottom;color:#1C568A;font-weight:bold;}
#dialog fieldset legend table{ background-image:url(master_fieldsetlegend.gif);}
#dialog fieldset legend .title{font-size:10pt; vertical-align:bottom;color:#1C568A;font-weight:bold;}
#dialog fieldset legend .title span{ background-color:#fff;padding-right:5px;}
#dialog fieldset legend .button{text-align:right;}
#dialog fieldset legend .button span{ background-color:#fff;}
#dialog fieldset legend .button img{padding-left:5px;}

#opinionform{background-color:#EEF2F6;}
#opinionform #container{width:560px}
#opinionform #header{display:none;}
#opinionform .leftform{float:left;width:554px; 
vertical-align:top; border-style:ridge; border-width:2px; background-color:#e9e9e9; text-indent:7px;
}
#opinionform .leftform textarea{display:block;width:95%;margin:3px;font-size:9pt;}
#opinionform .leftform select{margin-bottom:5px;margin-top:4px;font-size:9pt;width:160px;}

#opinionform .rightform{float:right;width:270px; vertical-align:top;border-style:ridge; border-width:2px; background-color:#e9e9e9}
#opinionform .rightform h2{text-indent:7px;}
#opinionform .rightform textarea{display:block;width:95%;margin:3px;font-size:9pt;}

#opinionform .button{float:left;background-image:url(opinion_button.png);padding-top:5px;padding-bottom:5px; width:100%;margin-top:10px;padding-left:7px;}
#opinionform .button img{margin-bottom:-4px;cursor:pointer;margin-left:5px;}
#opinionform h2{font-weight:normal;font-size:9pt;margin:0px;background-image:url(opinion_h2.png);height:20px; vertical-align:middle; vertical-align:top;padding-top:6px;}



#itemdetail{}
#itemdetail .button{ position:absolute;top:0px; background-image:url('itemdetal_button.png'); 
background-repeat:repeat-x;width:100%;
	left: 0px;
	height: 35px;
}
#itemdetail .button img{padding-left:15px;cursor:pointer;margin-bottom:-13px;padding-right:3px;}
#itemdetail .button li{float:left;color:#fff;font-weight:bold;padding-bottom:13px;cursor:pointer;}

#itemdetail .button td{vertical-align:top;text-align:right;padding-right:10px;color:#fff;font-weight:bold;cursor:pointer;}
#itemdetail #header{display:none;}
#itemdetail #content{padding-left:50px;padding-right:50px;}
#itemdetail h2{height:23px;text-align:left;font-weight:bold;color:#333;text-decoration:none;font-size:9pt;margin-bottom:0px;}
#itemdetail h2 img{margin-bottom:-3px;}
#itemdetail h2 a:link,#itemdetail h2 a:visited{color:#333; text-decoration:none;}
#itemdetail h2 a:hover{color:red;text-decoration:none;}

#itemdetail .formitem2{background-color: #CBCBCC;}
#itemdetail .formitem2 caption{font-size:16px;font-weight:bold;margin-top:10px;margin-bottom:5px;}
#itemdetail .formitem2 th{height:22px; background-color:#F1F1F3;padding-left:3px;}
#itemdetail .formitem2 td{padding:3px;background-color:#ffffff;}

#itemdetail .formitem{background-color: #CBCBCC;}
#itemdetail .formitem th{background-color:#F1F1F3;padding-left:3px;}
#itemdetail .formitem td{padding:3px;background-color:#ffffff; line-height:20px;}

#itemdetail .list{margin:0px;border:1px solid #CBCBCC;padding:5px;}
#itemdetail .list li{margin:0px;list-style-type:none;padding-bottom:5px;}
#itemdetail .list li img{margin-bottom:-3px;padding-right:3px;}
#itemdetail .list li span{color:red;padding-right:10px;}

.ifrPage {width:100%; border:1px solid #8db2e3; border-top:0}
.dg
{	
	width:100%; border-collapse:collapse;margin-top:3px; border-right:solid 1px white; border-bottom:dashed 1px #aacfef
}
.dg td
{	
	padding-right: 2px;	
	padding-left: 2px;
	padding-bottom: 2px;	
	padding-top: 2px;
	color: black;
	border-bottom: #aacfef 1px dashed;
	/**/
	height:24px;
}

/*
background-color:#DFEAFB;color:#1C568A; 
*/
.dg A:link{color:#1C568A; TEXT-DECORATION:underline}
.dg A:visited{color:#1C568A; TEXT-DECORATION:underline}
.dg A:active{color:#1C568A; TEXT-DECORATiON:underline}
.dg A:hover{color:red; TEXT-DECORATiON:underline}

.Header
{
	height:22px; background-color:#DFEAFB;color:#1C568A; font-weight:bold;padding-left:2px;
}

.Footer
{
	background-color: #FFFFFF;
	height: 35px;
}
.AlternatingItem
{
	background-color: #F1F6FF;
	height: 22px;
	padding-left:2px;
}
.Item
{
	background-color: #FFFFFF;
	height: 22px;
	padding-left:2px;
}
.EditItem
{
	background-color: #DA70D6;
	padding-left:2px;
}
.HighLightItem
{
	background-color: #DFEAFB;
	height: 22px;
	padding-left:2px;
}


/**********start:通用部分**********/
/*-----通用块-----*/
.pw-hbox{margin:8px 8px 8px 8px;border:1px solid #b7e0c1; background:url(pw-hbox.gif) repeat-x 0 0;}
.pw-hbox .hd{height:30px; line-height:30px; overflow:hidden;}
.pw-hbox .hd h3{float:left; padding:0 13px; font-size:14px; color:#67ab0f; font-weight:bold;}
.pw-hbox .hd h3 em{padding-left:8px; font-size:13px; color:#fc9605}
.pw-hbox .hd .more{float:right;padding-right:12px; color:#1078b6;}
.pw-hbox .bd{padding:12px;}

/*-----通用列表--------*/
.pw-hlist{min-height:21px;}
.pw-hlist li{height:21px; line-height:21px; overflow:hidden}
.pw-hlist li span{min-height:21px;}

.pw-hlist a:hover,.pw-hlist a:hover span,.pw-hlist a:hover em,.pw-hlist a:hover strong{text-decoration:none; cursor:pointer;color:#1078B6}
.pw-hlist a:hover span.date{color:#929292}

/*-----通用卡盘-------*/
ul.tab-holder{background:url(pw-hbox-options.gif) repeat-x 0 0; height:31px; overflow:hidden;}
ul.tab-holder li{float:left; height:30px; line-height:30px; margin-left:-1px; padding:0 12px 1px;} 
ul.tab-holder li a{color:#0b5726; vertical-align:middle}
ul.tab-holder li a:hover{text-decoration:none;}
ul.tab-holder li.current{background:#fff url(pw-hbox.gif) repeat-x 0 0; border:1px solid #b8e1c3; border-bottom:none; border-top:none;}
ul.tab-holder li.current a{font-weight:bold; color:#fc9605}
.tab-panel{}

.infos-list li{line-height:24px; width:270px; overflow:hidden;}
.infos-list li.lang{width:305px; margin-right:18px;}
.infos-list li em{font-weight:bold; color:#000; font-family:\5b8b\4f53;}
.infos-list li a{color:#107ab8}
.infos-list li strong{color:#fe0201; font-weight:bold}

/*-----通用按钮-------*/
.shortbutton
{
    width:50px;      /*图片宽度*/
    background:url(ShortButton.gif) no-repeat left top;   /* 图片路径*/
    border:none;  /*去掉边框*/
    height:20px; /*图片高度*/
    line-height:20px;
    color:#294F76;
    letter-spacing:4px;
    cursor:pointer;
    font-size:1em;
}
.longbutton
{
    width:97px;      /*图片宽度*/
    background:url(LongButton.gif) no-repeat left top;   /* 图片路径*/
    border:none;  /*去掉边框*/
    height:20px; /*图片高度*/
    line-height:20px;
    color:#294F76;
    cursor:pointer;
    font-size:1em;
}

/**********end:通用部分**********/

/*-------查询条件----------*/
#querys{margin:8px 8px 8px 8px; padding-left:43px; background:url(icon-query.gif) no-repeat 0 0;}
#query-list{padding-bottom:5px;}
#query-list li{padding:3px 0 3px 85px; min-height:18px; _height:18px; *zoom:1; *margin-bottom:-4px;}
#query-list li:after{display:block; clear:both; height:0; content:"\20"}
#query-list li em{float:left; padding-top:1px; margin-left:-85px; height:18px; width:130px; overflow:hidden;font-weight:bold; font-style:normal;color:#67ab0f; font-size:13px; white-space:nowrap; word-break:keep-all;}
#query-list a{float:left; color:#1078b6; padding:1px 5px; margin:0 2px 2px 0; word-break:keep-all; white-space:nowrap;}
#query-list a.sel,#querys a:hover{color:#ff7f00; padding:0 4px; background-color:#fffee9; border:1px solid #f8ddc2; text-decoration:none}
#query-list a.sel-all{float:left; margin:0 0 0 -38px;}
#query-list a.sel-all-sel{color:#ff7f00; font-weight:bold}

#query-list li.area{position:relative; height:20px; overflow:hidden;}
#query-list li.area a{margin-bottom:0}
#query-list li.area a.sel{position:relative;padding-bottom:6px;}
#query-list li.sub-area{margin:-1px 0 0 84px; *margin-top:-5px; padding:2px 0 2px 44px; border:1px solid #f8ddc2; background-color:#fffee9}
#query-list li.sub-area a.sel,#query-list li.sub-area a:hover{background:none; padding:1px 5px; color:#ff7f00; border:none; text-decoration:underline;}

/*-------已选中----------*/
#query-selected{padding:5px 8px 5px 125px; margin-bottom:10px; line-height:22px; min-height:24px; _height:24px; color:#67ab0f; zoom:1}
#query-selected dt{float:left; padding:1px 0; display:inline;width:110px; margin-left:-110px; font-weight:bold;}

#query-selected .items{float:left; margin-right:5px; color:#67ab0f; padding:1px 20px 1px 5px; position:relative;}
#query-selected .items .clear-icon{position:absolute; top:7px; right:7px; width:10px; height:10px; overflow:hidden; background:url(clearitem.png) no-repeat 0 -10px;}
#query-selected .items:hover{padding:0 19px 0 4px; border:1px solid #b8d1be; text-decoration:none}
#query-selected .items:hover .clear-icon{top:6px; right:6px; background-position:0 0;}

#query-selected a.clear-query{float:right; margin-top:1px; width:60px; height:23px; overflow:hidden; padding-left:30px; color:#000; font-size:12px; background:url(btn-clearquery.gif) no-repeat 0 0;}
#query-selected a.search-query{float:right; margin-top:1px; width:60px; height:23px; overflow:hidden; padding-left:30px; color:#000; font-size:12px; background:url(btn-searchquery.gif) no-repeat 0 0;}
#query-selected a.clear-query:hover{color:#000; text-decoration:none}

