@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>企业信息化平台管理系统</title>
    @*添加Jquery EasyUI的样式*@
    <link href="~/Content/JqueryEasyUI/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/JqueryEasyUI/themes/icon.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/themes/Default/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/Default/default.css" rel="stylesheet" type="text/css" />

    @*添加Jquery，EasyUI和easyUI的语言包的JS文件*@
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/locale/easyui-lang-zh_CN.js"></script>

    @*日期格式的引用*@
    <script src="~/Content/datapattern.js"></script>

    <script type="text/javascript">
        $(function () {

            //调整Windows尺寸
            windowResize();
            $(window).resize(function () {
                windowResize();
            });
        });

        function getWindowHeight() {
            return $(window).height();
        }
        function getWindowWidth() {
            return $(window).width();
        }
        function windowResize() {
            var width = getWindowWidth();
            var height = getWindowHeight();
            $('form#form1').width(width);
            $('form#form1').height(height);
            $('form#form1').layout();
        }

        function close(divname) {
            $(divname).dialog('close');
        }
    </script>

    <link href="~/Content/JQueryTools/JQueryTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/JQueryTools/JQueryTree/js/jquery.ztree.core-3.5.min.js" type="text/javascript"></script>
        <script src="~/ViewScript/User.js"></script>
</head>
<body>

        <div id="loading" style="display: none;"><img alt="数据正在加载中..." src="~/Content/images/loading02.gif" /></div> 
		<form id="Form1" method="post" >
        <table>
            <tr>
                <td valign="top">
                    <table height="700px" width="300px" align="left" style="table-layout: fixed">
                        <tr align="center" valign="top" height="25">
                            <td align="center">
                                <table cellspacing="0" cellpadding="0" width="100%" background="~/Content/Themes/Default/droit-25.jpg"
                                    border="0">
                                    <tr>
                                        <td align="left" width="10%">
                                            <img height="25" src="~/Content/Themes/Default/droit-24.jpg">
                                        </td>
                                        <td align="center" width="30%">
                                            用户列表
                                        </td>
                                        <td align="right" width="10%">
                                            <img height="25" src="~/Content/Themes/Default/droit-26.jpg">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" width="100%">
                                    <tr>
                                        <td nowrap>
                                            <img onclick="reloadTree();" style="cursor: pointer;" border="0" align="middle" src="~/Content/images/menu_refresh.gif"
                                                alt="刷新窗口">
                                            <a id="expandAllBtn" href="#" title="展开所有" onclick="return false;">展开</a> 
                                            <a id="collapseAllBtn" href="#" title="关闭所有" onclick="return false;">折叠</a>&nbsp;&nbsp; 
                                            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" id="A2" onclick="delData()" >删除</a>
                                            <a href="#" class="easyui-linkbutton" iconcls="icon-add" id="A1" onclick="addData()"
                                                >添加</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left" width="100%" height="600px" style="background-color: #ffffff">
                                <div>
                                    <ul id="treeDemo" class="ztree">
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top">
                    <table height="700px" width="300px" align="left" style="table-layout: fixed">
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" width="100%" background="~/Content/Themes/Default/droit-25.jpg"
                                    border="0">
                                    <tr>
                                        <td align="left" width="10%">
                                            <img height="25" src="~/Content/Themes/Default/droit-24.jpg" width="90">
                                        </td>
                                        <td align="center" width="30%">
                                            <span>用户详细信息</span>
                                        </td>
                                        <td align="right" width="10%">
                                            <img height="25" src="~/Content/Themes/Default/droit-26.jpg" width="85">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table id="tbRoleInfo" width="100%">
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            用户编号(<font color="red">*</font>)：
                                        </td>
                                        <td align="left">
                                            <input id="txtID" style="width:50px;background-color:#F0EAEA;" disabled type="text" name="txtID" >
                                            &nbsp;&nbsp;<input id="chkIsExpire" type="checkbox" >帐号过期
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            用户名(<font color="red">*</font>)：
                                        </td>
                                        <td align="left" style="width: 195px">
                                            <input id="txtName" style="width: 100%" type="text"  maxlength="32">
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            直属经理(<font color="red">*</font>)：
                                        </td>
                                        <td align="left">
                                            <select id="txtPID" style="width: 100%" >
                                            </select>
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            默认机构/部门：
                                        </td>
                                        <td align="left">
                                            <select id="txtDept_ID" style="width: 100%" >
                                            </select>
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            密码：
                                        </td>
                                        <td align="left">
                                            <input id="txtPassword" style="width: 100%" type="password"  maxlength="20">
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            确认密码：
                                        </td>
                                        <td align="left">
                                            <input id="txtRePassword" style="width: 100%" type="password"  maxlength="20">
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            姓名(<font color="red">*</font>)：
                                        </td>
                                        <td align="left">
                                            <input id="txtFullName" style="width: 100%" type="text"  maxlength="100">
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            职务：
                                        </td>
                                        <td align="left">
                                            <input id="txtTitle" style="width: 100%" type="text"  maxlength="100">
                                        </td>
                                    </tr>
                                    <tr align="left" height="10%">
                                        <td style="width: 70px" width="70">
                                            身份证号：
                                        </td>
                                        <td>
                                            <input id="txtIdentityCard" style="width: 100%" type="text"  maxlength="50">
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            移动电话：
                                        </td>
                                        <td align="left">
                                            <input id="txtMobilePhone" style="width: 100%" type="text"  maxlength="100">
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            办公电话：
                                        </td>
                                        <td align="left">
                                            <input id="txtOfficePhone" style="width: 100%" type="text"  maxlength="100">
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            家里电话：
                                        </td>
                                        <td align="left">
                                            <input id="txtHomePhone" style="width: 100%" type="text"  maxlength="100">
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td align="left" style="width: 95px">
                                            电子邮箱：
                                        </td>
                                        <td align="left">
                                            <input id="txtEmail" style="width: 100%" type="text"  maxlength="100">
                                        </td>
                                    </tr>
                                    <tr height="10%">
                                        <td style="width: 70px; height: 9.61%" align="left" width="70">
                                            住址：
                                        </td>
                                        <td style="height: 9.61%" align="left">
                                            <input id="txtAddress" style="width: 100%" type="text"  maxlength="200">
                                        </td>
                                    </tr>
                                    <tr align="left" height="10%">
                                        <td style="width: 70px">
                                        </td>
                                        <td align="right">
                                            <a href="#" class="easyui-linkbutton" iconcls="icon-ok" id="btnResetPassword" onclick="resetPassword()"
                                                >重置密码</a>
                                            <a href="#" class="easyui-linkbutton" iconcls="icon-ok" id="btnSave" onclick="saveData()"
                                                >保存</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top">
                    <table height="700px" width="200px" align="left">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="17%" align="left" background="~/Content/Themes/Default/droit-42.jpg">
                                            <img src="~/Content/Themes/Default/droit-41.jpg" width="50" height="31">
                                        </td>
                                        <td width="69%" background="~/Content/Themes/Default/droit-42.jpg">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="5%">
                                                        <img src="~/Content/Themes/Default/droit-42.jpg" width="11" height="31">
                                                    </td>
                                                    <td width="95%" align="center">
                                                        <span>所属机构</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="14%" align="right" background="~/Content/Themes/Default/droit-42.jpg">
                                            <img src="~/Content/Themes/Default/droit-43.jpg" width="42" height="31">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr height="300px">
                            <td>
                                <select id="lbxOUs" multiple  style="height: 300px; width: 200px" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="17%" align="left" background="~/Content/Themes/Default/droit-42.jpg">
                                            <img src="~/Content/Themes/Default/droit-41.jpg" width="50" height="31">
                                        </td>
                                        <td width="69%" background="~/Content/Themes/Default/droit-42.jpg">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="5%">
                                                        <img src="~/Content/Themes/Default/droit-42.jpg" width="11" height="31">
                                                    </td>
                                                    <td width="95%" align="center">
                                                        <span>所属角色</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td width="14%" align="right" background="~/Content/Themes/Default/droit-42.jpg">
                                            <img src="~/Content/Themes/Default/droit-43.jpg" width="42" height="31">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr height="300px">
                            <td>
                                <select id="lbxRoles" multiple  style="height: 300px; width: 200px" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>			
		</form>
</body>
</html>
