@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>企业信息化平台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/JqueryEasyUI/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/JqueryEasyUI/themes/icon.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/themes/Default/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/Default/default.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="~/Scripts/outlook2.js"></script>
    <script src="~/ViewScript/Home.js"></script>
</head>

<body style="overflow-y:hidden"  scroll="no">
    <noscript>
        <div style=" position:absolute; z-index:100000; height:2046px;top:0px;left:0px; width:100%; background:white; text-align:center;">
            <img src="~/Content/images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    <form id="form1" class="easyui-layout">
    
    <!--顶部Banner-->
	<div region="north" id="header">
         <div class="userinfo" style="display:block">
             <font color="red" size="5">@ViewBag.FullName</font>，您好！
         </div>
        <ul class="navigation" style="display:block">
            @Html.Raw(@ViewBag.HeaderScript)
@*          <li><a href="#" onclick="showSubMenu('/User/Index', '用户管理', 'default')">权限管理</a></li>
            <li><a href="#" onclick="showSubMenu('../Commonpage/MyJob.aspx', '事务中心开发中...', 'point', 'icon-organ')">事务中心</a></li>
            <li><a href="#" onclick="showSubMenu('../Commonpage/building.htm', '合同起草开发中...', '')">合同起草</a></li>*@
        </ul>
        <ul class="button">
            <li>
                当前时间：<b id="date"></b>
            </li>
            <li>
                <a href="javascript:void(0)" onclick="javascript:ShowPasswordDialog()" title="修改用户密码">
                    <img border="0" src="~/Content/Themes/Default/btn_hd_support.gif" title="修改用户密码" alt="修改用户密码"/>
                 </a>
            </li>
            <li>
                <a href="#" onclick="addTab('在线帮助', 'userGuid.htm', 'icon icon-help')" title="在线帮助">
                    <img border="0" src="~/Content/Themes/Default/btn_hd_help.gif" title="在线帮助" alt="在线帮助" />
                </a>
            </li>
            <li>
                <a href="/Login/Index" title="注销"><b><img border="0" src="~/Content/Themes/Default/btn_hd_exit.gif" title="注销" alt="注销" /></b></a>
            </li>
        </ul>
	</div>
	
	<!--左侧导航菜单-->
	<div region="west" split="true" title="导航菜单" style="width:200px;padding:1px;overflow:hidden;">
		<div id="nav" class="easyui-accordion" fit="true" border="false">
@*            <div id="aa" title="主功能菜单" iconCls="icon-computer" style="padding:10px;overflow:auto;" selected="true">
                <ul>
				    <li><div><a ref="91001" href="javascript:void(0)" onclick="javascript:ShowPasswordDialog()" ><span class="icon icon-lock" >&nbsp;</span><span class="nav">脚本功能</span></a></div></li>	
                    <li><div><a ref="91002" href="#" rel="ChangePassword.aspx" ><span class="icon icon-lock" >&nbsp;</span><span class="nav">打开页面功能</span></a></div></li>	
                </ul>
			</div>*@            
		</div>
	</div>
	
	<!--主工作区-->
	<div id="mainPanle" region="center" title="" style="overflow:hidden;">
		<div id="tabs" class="easyui-tabs"  fit="true" border="false" >
		</div>
	</div>
	
	<!--Tab上菜单操作-->
	<div id="mm" class="easyui-menu" style="width:150px;">
		<div id="mm-tabupdate">刷新</div>
		<div class="menu-sep"></div>
		<div id="mm-tabclose">关闭</div>
		<div id="mm-tabcloseall">全部关闭</div>
		<div id="mm-tabcloseother">除此之外全部关闭</div>
		<div class="menu-sep"></div>
		<div id="mm-tabcloseright">当前页右侧全部关闭</div>
		<div id="mm-tabcloseleft">当前页左侧全部关闭</div>
		<div class="menu-sep"></div>
		<div id="mm-exit">退出</div>
	</div>

    <!--底部版权标识-->
    <div data-options="region:'south',split:true" style="height: 40px;background: #D2E0F2;">
        <div class="easyui-layout" data-options="fit:true" style="background: #D2E0F2;text-align:center;color:#15428B;font-weight:bold;">
                版权所有： 广州爱奇迪软件科技有限公司 2013 Email：<a href="mailto:wuhuacong@163.com">wuhuacong@163.com</a>  QQ:6966254
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=6966254&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:6966254:47" alt="有事Q我" title="有事Q我"/></a>
        </div>
    </div>        
	</form>

    <div id="divModPass" class="easyui-dialog" style="width:350px;height:260px;padding:10px 20px"
			closed="true" resizable="true" modal="true" buttons="#dlg-buttons" iconCls="icon-setting"  >
        <form id="ffModPass" method="post" novalidate="novalidate">
            <table cellspacing="1" cellpadding="0" border="0" width="100%">
                <tr style="height: 40px;">
                    <th style="width: 100px; font-weight: bold; text-align: right;">原密码：</th>
                    <td style="width: 200px">
                        <input type="hidden" id="txtName" value="@ViewBag.Name"/>
                        <input type="password" id="txtOldPass" maxlength="30" />
                    </td>
                </tr>
                <tr style="height: 40px;">
                    <th style="width: 100px; font-weight: bold; text-align: right;">新密码：</th>
                    <td style="width: 200px">
                        <div style="float: left; margin-top: 2px;">
                            <input type="password" id="txtNewPass" maxlength="30"  class="easyui-validatebox" data-options="required:true,validType:'length[1,30]'"/>
                        </div>
                    </td>
                </tr>
                <tr style="height: 40px;">
                    <th style="width: 100px; font-weight: bold; text-align: right;">确认新密码：</th>
                    <td style="width: 200px">
                        <input type="password" id="txtCheckPass" maxlength="30"  class="easyui-validatebox" data-options="required:true,validType:'length[1,30]'"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="20"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-lock" id="btnModifyPass" onclick="ModifyPass()">提交</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#divModPass').dialog('close')">关闭</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>

</html>
