@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>企业信息化平台管理系统</title>
    @*添加Jquery EasyUI的样式*@
    <link href="~/Content/JqueryEasyUI/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/JqueryEasyUI/themes/icon.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/themes/Default/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/Default/default.css" rel="stylesheet" type="text/css" />

    @*添加Jquery，EasyUI和easyUI的语言包的JS文件*@
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Content/JqueryEasyUI/locale/easyui-lang-zh_CN.js"></script>

    @*日期格式的引用*@
    <script src="~/Content/datapattern.js"></script>

    <link href="~/Content/JQueryTools/JQueryTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/JQueryTools/JQueryTree/js/jquery.ztree.core-3.5.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/JQueryTools/JQueryTree/js/jquery.ztree.excheck-3.5.js"></script>
        <script src="~/ViewScript/OU.js"></script>
</head>
<body>
    <div id="loading" style="display: none;"><img alt="数据正在加载中..." src="~/Content/images/loading02.gif" /></div> 
    <form id="Form1" method="post" >
    <table>
        <tr>
            <td valign="top">
                <table height="700px" width="300px" align="left" style="table-layout: fixed">
                    <tr align="center" valign="top" height="25">
                        <td align="center">
                            <table cellspacing="0" cellpadding="0" width="100%" background="~/Content/Themes/Default/droit-25.jpg"
                                border="0">
                                <tr>
                                    <td align="left" width="10%">
                                        <img height="25" src="~/Content/Themes/Default/droit-24.jpg">
                                    </td>
                                    <td align="center" width="30%">
                                        组织机构列表
                                    </td>
                                    <td align="right" width="10%">
                                        <img height="25" src="~/Content/Themes/Default/droit-26.jpg">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" width="100%">
                                <tr>
                                    <td nowrap>
                                        <img onclick="reloadTree();" style="cursor: pointer;" border="0" align="middle" src="~/Content/images/menu_refresh.gif"
                                            alt="刷新窗口">
                                        <a id="expandAllBtn" href="#" title="展开所有" onclick="return false;">展开</a> 
                                        <a id="collapseAllBtn" href="#" title="关闭所有" onclick="return false;">折叠</a>&nbsp;&nbsp;
                                        <a href="#" class="easyui-linkbutton" iconcls="icon-remove" id="btnDelete" onclick="delData()" >删除</a>
                                        <a href="#" class="easyui-linkbutton" iconcls="icon-add" id="btnAdd" onclick="addData()"
                                            >添加</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" align="left" width="100%" height="600px" style="background-color: #ffffff">
                            <div>
                                <ul id="treeDemo" class="ztree">
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <table height="700px" width="300px" align="left" style="table-layout: fixed">
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" width="100%" background="~/Content/Themes/Default/droit-25.jpg"
                                border="0">
                                <tr>
                                    <td align="left" width="10%">
                                        <img height="25" src="~/Content/Themes/Default/droit-24.jpg" width="90">
                                    </td>
                                    <td align="center" width="30%">
                                        <span>机构详细信息</span>
                                    </td>
                                    <td align="right" width="10%">
                                        <img height="25" src="~/Content/Themes/Default/droit-26.jpg" width="85">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table id="tbGroupInfo" height="200" width="100%">
                                <tr height="10%">
                                    <td align="left" style="width: 95px">
                                        编号(<font color="red">*</font>)：
                                    </td>
                                    <td align="left">
                                        <input type="text" id="txtID"  style="width: 50px;background-color:#F0EAEA;" disabled>
                                    </td>
                                </tr>
                                <tr height="10%">
                                    <td align="left" style="width: 95px">
                                        上级机构(<font color="red">*</font>)：
                                    </td>
                                    <td align="left">
                                        <select id="txtPID"  style="width: 100%">
                                        </select>
                                    </td>
                                </tr>
                                <tr height="10%">
                                    <td width="95" align="left" style="width: 95px">
                                        机构名(<font color="red">*</font>)：
                                    </td>
                                    <td align="left">
                                        <input id="txtName" style="width: 100%" type="text"   maxlength="100">
                                    </td>
                                </tr>
                                <tr height="10%">
                                    <td width="95" align="left" style="width: 95px">
                                        机构地址：
                                    </td>
                                    <td align="left">
                                        <input id="txtAddress" style="width: 100%" type="text"  maxlength="200">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="width: 95px">
                                        备注：
                                    </td>
                                    <td align="left">
                                        <textarea id="txtNote" style="width: 100%; height: 50px" ></textarea>
                                    </td>
                                </tr>
                                <tr height="10%">
                                    <td style="width: 95px">
                                    </td>
                                    <td align="right">
                                        <a href="#" class="easyui-linkbutton" iconcls="icon-ok" id="btnSave" onclick="saveData()"
                                            >保存</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <table height="700px" width="200px">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="17%" align="left" background="~/Content/Themes/Default/droit-42.jpg">
                                        <img src="~/Content/Themes/Default/droit-41.jpg" width="50" height="31">
                                    </td>
                                    <td width="69%" background="~/Content/Themes/Default/droit-42.jpg">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="5%">
                                                    <img src="~/Content/Themes/Default/droit-42.jpg" width="11" height="31">
                                                </td>
                                                <td width="95%" align="center">
                                                    <span>包含用户</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="14%" align="right" background="~/Content/Themes/Default/droit-42.jpg">
                                        <img src="~/Content/Themes/Default/droit-43.jpg" width="42" height="31">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="30%">
                        <td>
                            <select id="lbxUsers" multiple  style="height: 300px; width: 200px" />
                        </td>
                    </tr>
                    <tr align="right">
                        <td>
                            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" id="btnAddUser" onclick="ShowEditTree()" >编辑</a>&nbsp;&nbsp;
                            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" id="btnDeleteUser" onclick="deleteUser()" >移除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="17%" align="left" background="~/Content/Themes/Default/droit-42.jpg">
                                        <img src="~/Content/Themes/Default/droit-41.jpg" width="50" height="31">
                                    </td>
                                    <td width="69%" background="~/Content/Themes/Default/droit-42.jpg">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="5%">
                                                    <img src="~/Content/Themes/Default/droit-42.jpg" width="11" height="31">
                                                </td>
                                                <td width="95%" align="center">
                                                    <span>所属角色</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="14%" align="right" background="~/Content/Themes/Default/droit-42.jpg">
                                        <img src="~/Content/Themes/Default/droit-43.jpg" width="42" height="31">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="70%">
                        <td>
                            <select id="lbxRoles" multiple  style="height: 250px; width: 200px" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </form>

    <!--------------------------编辑组织机构包含用户的弹出层---------------------------->
    <div id="DivEditUser" class="easyui-dialog" style="width:380px;height:530px;padding:10px 20px"
			closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <form id="ff" method="post" novalidate="novalidate">
            <fieldset>
                <legend>组织机构包含的用户</legend>
                <table id="tblEdit">
                    <tr>
                        <td>
                            <table border="0" width="100%">
                                <tr>
                                    <td nowrap>
                                        <img onclick="reloadEditTree();" style="cursor: pointer;" border="0" align="middle" src="~/Content/images/menu_refresh.gif" alt="刷新窗口">
                                        <input id="chkCheckAll" type="checkbox"  onclick="CheckAll()">全选&nbsp;&nbsp; 
                                        <a href="#" class="easyui-linkbutton" iconcls="icon-ok" id="btnSaveEdit" onclick="saveEditData()" >保存</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" align="left" width="100%" height="400px" style="background-color: #ffffff">
                            <div>
                                <ul id="editTree" class="ztree">
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</body>
</html>